<table>
  <tr>
    <td><h3>商品一覧<//h3></td>
    <td>全O件</td>
  </tr>
</table>


<!--admin/menusで@menus定義でき次第解除-->
<%# @menus.each do |menu| %>
  <div class="row">
    <div class="col-md-4">
      <%#= image_tag menu.get_image(60, 30) %>
      <%#= @menu.name %>
      <!--<div>￥<%#= menu.tax_in_price %></div>-->
    </div>
  </div>
<%# end %>

<!--ページネーション 後ほど見直し-->
