<div class='container px-5 px-0'>

    <div class='col-3'>
      <p>ジャンル検索</p>
      <%# @genres.each do |genre| %>
        <%#= genre.name %>
      <%# end %>
    </div>

    <div class='col-7'>
      <table>
        <tr>
          <td>商品一覧</td>
          <!--ジャンル検索の場合は[ケーキ一覧]のように表記を変える(a)-->
          <td>全O件</td>
        </tr>
        <% @menus.each do |menu| %>
          <div class="row">
            <div class="col-md-4">
              <%= link_to menu_path(menu.id) do %>
                <%= image_tag menu.get_image(60, 30) %>
              <% end %>
              <%= menu.name %>
              <div>￥<%= menu.non_tax_price %></div>
            </div>
          </div>
        <% end %>
      </table>
    </div>

</div>

<!--ページネーション 後ほど記述(a)-->
