<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>

<p>ショッピングカート</p>
<!--<= link_to "カートを空にする", cart_item_path(current_customer), method: :delete %>-->

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
    <!--< @cart_items.each do |cart_item|  %>-->
    <!--<td><= image_tag get_image(30, 20) %></td>-->
    <!--<td><= cart_items.name  %></td>-->
    <!--<td><= cart_items.tax_in_price %></td>-->

    <td>
      <!--<= form_tag cart_items_path, class: "form-inline" do %>-->
        <!--<= select_tag :quantity, options_for_select(["個数選択", 1, 2, 3, 4, 5]), class: "form-control" %>-->
      <!--< end %>-->
    </td>

    <td>小計</td>
    <td>
      <!--<= link_to "削除する", oo_oath, method: :delete %>-->
    </td>
    <!--< end %>-->
  </tr>

  <tr>
    <td>合計金額</td><td>合計金額</td>
  </tr>
</table>



<%= link_to "買い物を続ける", menus_path %>

<%= link_to "情報入力に進む", orders_done_path %>