<h1>Public::Orders#check</h1>
<!--containerと注文情報確認テーブルはpublic/cart_itemsブランチで記述-->
<div class="container">
  <div class="row">
    <p>注文情報確認画面</p>
  </div>

  <div class="row">
    <table class="table col-md-6">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <!--下記でレコード表示-->

    </table>
    <table class="table col-md-6">
      <td>送料</td><td></td>
      <td>商品合計</td><td></td>
      <td>請求金額</td><td></td>
    </table>
  </div>


    <!--支払方法とお届け先、[注文を確定する]ボタンはpublic/oedersブランチで記述-->




    <div class="row">
    <div>支払方法</div>
    <%= @order.payment_way %>
    <div>お届け先</div>
    <%= @order.postcode %>
    <%= @order.address %>
    <%#= @order.customer.first_name %>
    <%#= @order.customer.last_name %>





  </div>
</div>