<!--<p>注文情報入力</p>-->

<!--＃form_withはデフォルトがpostメソッド(a)-->

<!--<%#= form_with @order, url: orders_done_path, local: true do |f| %>-->
<!--<p>支払方法</p>-->
<!--  <div class="form-group">-->
<!--    <%#= f.label :product_type %>-->
<!--    <div class="form-check">-->
<!--      <%#= f.radio_button :product_type, "type1", id: "product_type_1" %>-->
<!--      <%#= f.label :product_type_1, "クレジットカード", class: "form-check-label" %>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--      <%#= f.radio_button :product_type, "type2", id: "product_type_2" %>-->
<!--      <%#= f.label :product_type_2, "銀行振込", class: "form-check-label" %>-->
<!--    </div>-->
<!--  </div>-->
<!--<p>お届け先</p>-->
<!--  <div class="form-group">-->
<!--    <%#= f.label :product_type %>-->
<!--    <div class="form-check">-->
<!--      <%#= f.radio_button :product_type, "type1", id: "product_type_1" %>-->
<!--      <%#= f.label :product_type_1, "ご自身の住所", class: "form-check-label" %>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--      <%#= f.radio_button :product_type, "type2", id: "product_type_2" %>-->
<!--      <%#= f.label :product_type_2, "登録済み住所から選択", class: "form-check-label" %>-->
<!--    </div>-->
<!--    <div class="form-check">-->
<!--      <%#= f.radio_button :product_type, "type3", id: "product_type_3" %>-->
<!--      <%#= f.label :product_type_3, "新しいお届け先", class: "form-check-label" %>-->
<!--    </div>-->



<!--  </div>-->
<!--<%#= f.submit "確認画面へ進む", class:"btn btn-primary" %>-->
<!--<%# end %>-->
